node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
web-report/

# macOS
.DS_Store

.vs/Hero_react/v16/.suo

.vs/ProjectSettings.json

.vs/slnx.sqlite

.vs/VSWorkspaceState.json
